table {
	 border-collapse:collapse;
	 empty-cells:show;
	 font-size:0.8em;
	 width:100%;
	 background: #e8e8e8;
}
table caption {
	text-align:left;
	font-weight:bold;
	color:#000;
	margin:0.2em;
}
table th, table thead td{
	color:white;
	padding:3px 5px;
	height:2em;
	font-weight:bold;
	background:#ccc;
}
table td {
	height:2em;
	padding:3px 5px;
	text-align:left;
	font-weight:normal;
}
table td, table th {
	border: 2px solid #fff;
}
table tr.odd {background: #e8e8e8;}
table tr.even {background: #d9d9d9;}
