 .floatbox-33{
	width: 33%;
}
 .floatbox-15{
	width: 15%;
}
 .floatbox-margin33{
	margin: 0 33%;
}
.floatbox-margin15{
	margin: 0 15%;
}
.floatbox-margin25margin0{
	margin-left: 25%;
	margin-right: 0;
}