/*
##########################################################
#### path: typo3conf/ext/t3sugar/resources/t3css/css/boxes/obsolet/t3all.css
##########################################################
*/
#b5{
  padding: 10px;
}

/*
##########################################################
#### path: typo3conf/ext/t3sugar/resources/t3css/css/menu/line/obsolet/t3all.css
##########################################################
*/
.menu-line ul li .info,
.menu-line ul li span.noanker,
.menu-line ul li a
{
   padding: 0.5em 0.8em 0.5em 0.8em;
}

.menu-line ul li span.noanker,
.menu-line ul li a,
.menu-line .info,
.menu-line ul li .info,
.menu-line ul li
{
   font-size: 1em;
}
.menu-line ul li.current span.noanker,
.menu-line ul li span.noanker,
.menu-line ul li.current a,
.menu-line ul li.current a:focus,
.menu-line ul li.current a:hover,
.menu-line ul li.current a:active{
	color: #fff;
}
.menu-line ul li a:focus,
.menu-line ul li a:hover,
.menu-line ul li a:active,
.menu-line ul li.current {
  background: #ccc;
}
.menu-line ul li span.noanker,
.menu-line ul li a {
  font-weight: bold;
}
.menu-line .info
{
   line-height: 2em;
}
.menu-line ul li
{
   line-height: 1em;
}
/*
##########################################################
#### path: typo3conf/ext/t3sugar/resources/t3css/css/menu/list/obsolet/t3all.css
##########################################################
*/
.menu-list .current,
.menu-list li a{
  padding: 0.5em 0.8em 0.5em 0.8em;
}

.menu-list .current,
.menu-list li a:hover {
  background-color: #ccc;
  color: #ffffff;
}
.menu-list .current,
.menu-list li a,
.menu-list .current{
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
}
.menu-list li a {
  color: #000;
}
/*
##########################################################
#### path: typo3conf/ext/t3sugar/resources/t3css/css/float/box/modi/t3all.css
##########################################################
*/
 .floatbox-33{
	width: 33%;
}
 .floatbox-15{
	width: 15%;
}
 .floatbox-margin33{
	margin: 0 33%;
}
.floatbox-margin15{
	margin: 0 15%;
}
.floatbox-margin25margin0{
	margin-left: 25%;
	margin-right: 0;
}
