.headerlogo{
 height: 130px;
 position:relative;
 background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: right center;
  margin-right: 30px;
	 -moz-opacity:0.8;
	filter:Alpha(opacity=80, finishopacity=0, style=0);
}


a, a em.file {
text-decoration:none;
}
img.float_left {
border:0pt none;
float:left;
margin-bottom:0.15em;
margin-right:1em;
}
img.float_right {
border:0pt none;
float:right;
margin-bottom:0.15em;
margin-left:1em;
}
img.center {
background:#FFFFFF none repeat scroll 0%;
border:1px solid #DDDDDD;
padding:4px;
text-align:center;
}

