.menu-list {
    width: 100%;
    overflow: hidden;
    list-style-type: none;
}
.menu-list ul {
	 list-style-type: none; margin:0; padding: 0;
}
.menu-list li {
	float:left; width: 100%; margin:0; padding: 0;
}
.menu-list .current{
}
.menu-list li a {
  display: block;
  text-decoration:none;
}
.menu-list li a:hover {
  text-decoration:none;
}